:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  font: 16px/1.3 'Montserrat', sans-serif;
  background: #E5E5E5;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #212429;
  padding: 10px 20px;
  border: 2px solid #18A0FB;
  border-radius: 10px;
  text-decoration: none;
  z-index: 2;
}

.btn_blue {
  color: #fff;
  background-color: #18A0FB;
  padding: 12px 20px;
}


/*----------header----------*/


.header {
  position: sticky;
  width: 100%;
  top: 8px;
  left: 0;
  z-index: 50;
  transition: 0.5s;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__body {
  position: relative;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  flex-basis: 245px;
  margin-right: 20px;
  z-index: 3;
}

.header__menu {
  margin-left: auto;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin-left: 42px;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  color: #212429;
  text-decoration: none;
}

.btn_order {
  margin-left: 40px;
}

/* Бургер */

.header__burger {
  display: none;
}

/*Меню при скролле*/
.bar-fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  animation: fixedMenu 1s forwards;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 0;
  transition: 0.5s;
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*----------intro----------*/


.intro {
  background: #E5E5E5;
  padding: 200px 0 100px;
}



/* accordion */

.tab {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #314255;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


.tab:last-child {
  border: none;
}

.tab-label {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 5rem 0;
  transition: all .3s;
}

.tab-label::after {
  position: absolute;
  top: 50px;
  right: 0;
  content: "";
  background: url(../img/icon-plus.svg) center center no-repeat;
  width: 5rem;
  height: 5rem;
  text-align: center;
  transition: all .2s;
}

.tab-label__title {
  display: block;
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 500;
  color: #7EE8FF;
}

.tab-label__subtitle {
  display: block;
  font-size: 2.4rem;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.tab-label__time {
  display: block;
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 500;
  color: #7EE8FF;
}

.tab-content {
  height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.tab-content_4 {
  padding-bottom: 100px;
}


/* checked */

/* input:checked+.tab-label {
  padding-bottom: 20px;
  transition: all .3s;
} */

input:checked+.tab-label::after {
  transform: rotate(135deg);
  transition: all .2s;
}

input:checked~.tab-content {
  height: auto;
  overflow: visible;
  z-index: 10;
  opacity: 1;
}

.tab-content__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tab-content__item {
  flex-basis: 500px;
}

.tab-content__item:last-child {
  flex-basis: 570px;
}

.tab-content__item-info {
  font-size: 1.5rem;
  line-height: 22.5px;
  font-weight: 500;
  color: #b1bdca;
  margin-bottom: 10px;
}

.tab-content__item-info:last-child {
  margin-bottom: 50px;
}

.tab-content-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-content-list__item {
  font-size: 1.8rem;
  line-height: 22.5px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}

.tab-content-list__number {
  color: #7ee8ff;
  margin-right: 30px;
}

.homework {
  margin-top: 40px;

}

.homework-task {
  margin-bottom: 40px;
}

.homework-task__title {
  font-size: 1.8rem;
  line-height: 22.5px;
  font-weight: 700;
  color: #7ee8ff;
  margin-bottom: 10px;
}

.homework-task__info {
  font-size: 1.5rem;
  line-height: 22.5px;
  font-weight: 500;
  color: #b1bdca;
  margin-bottom: 10px;
}

.homework-result__title {
  font-size: 2.4rem;
  line-height: 22.5px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}

.homework-result__title_2 {
  margin-bottom: 10px;
}

.homework-result__info {
  font-size: 1.5rem;
  line-height: 22.5px;
  font-weight: 500;
  color: #b1bdca;
  margin-bottom: 30px;
}




/*----------Кнопка Наверх----------*/

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 75px;
  cursor: pointer;
  display: none;
  background: #fff;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #83919f;
  /* border: 1px solid #ECF5FE; */
  border-radius: 50%;
  box-shadow: 0 3px 3px 0px #d8dde2;
  z-index: 10;
}

#toTop:hover {}

/*Убирает подсветку-обводку с элемента на мобильных*/
#toTop:focus,
#toTop:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*----------Адаптив----------*/

@media only screen and (max-width: 1700px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1050px) {

  .header__list li {
    margin-left: 25px;
  }
}

@media screen and (max-width: 991px) {

  /* body.lock {
    overflow: hidden;
  } */

  .header {
    top: 0;
  }

  .header::before {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background: #212429;
    transition: 0.2s;
  }

  .header__burger::before,
  .header__burger::after {
    position: absolute;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background: #212429;
    transition: 0.2s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
    transition: 0.2s;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.2s;
  }

  .header__burger.active span {
    transform: scale(0);
    transition: 0.2s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 70px 10px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    z-index: 1;
  }

  .header__menu.active {
    top: 0;
    transition: 0.5s;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 10px;
  }

  .btn_order {
    margin-left: auto;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 880px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 540px) {}